<!-- routerLink="/admin/booking" -->

<div class="container">
    <br>
    <div class="row row-cols">
        <div class="col">
                <button type="button" class="btn btn-primary btn-lg" (click)="admin_get_booking()">Booking</button>
        </div> 
    </div>
</div>

<!-- routerLink="/admin/passenger" -->
<!-- routerLink="/admin/routedesc" -->

<div class="container">
    <br><br><br>
    <div class="row row-cols">
        <div class="col">
                <button type="button" class="btn btn-warning btn-lg" (click)="admin_get_passenger()">Passenger</button>
        </div> 
        <div class="col">
                <button type="button" class="btn btn-warning btn-lg" (click)="admin_get_route_details()">Route Details</button>
        </div>
    </div>
</div>


<div class="container">
    <br><br><br>
    <div class="row row-cols">
        <div class="col">
                <img src="../../../assets/logo_big.png" alt="" height="200" width="200">
        </div>      
    </div>
</div>

<!-- routerLink="/admin/shipschedule" -->
<!-- routerLink="/admin/shipdetails" -->

<div class="container">
    <br><br><br>
    <div class="row row-cols-2">
        <div class="col">
            <button type="button" class="btn btn-warning btn-lg" (click)="admin_get_ship_schedule()">Ship Schedule</button>
        </div>
        <div class="col">
                <button type="button" class="btn btn-warning btn-lg" (click)="admin_get_ship_details()">Ship Details</button>
        </div>
        
    </div>
</div>

<div class="container mb-5">
    <br><br><br>
    <div class="row row-cols">
        <div class="col">
                <button type="button" class="btn btn-primary btn-lg" (click)="admin_get_head_count()">Head Count</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary btn-lg" (click)="admin_goto_email_page()">Send Email</button>
        </div> 
             
    </div>
</div>


