<div class="container-fluid">
    <div class="row">
        <!-- <div class="col-1"></div> -->
        <div class="col-1" (click)="goto_ticket_page()"><i class='fas fa-home' style='font-size:35px;color:rgb(252, 59, 59)'></i></div>
    </div>
</div><br><br>

<div class="container-fluid">
    <div class="row">

        <div class="col-3"></div>

        <div class="col-6">
            <form #bookingRef_store="ngForm" (ngSubmit)="total_payment(noOfHeadCount)" [ngStyle]="styProperty1"> 

                <div class="input-group mb-3">
                    <span class="input-group-text">First Name</span>
                    <input type="text" class="form-control" name="pName" [(ngModel)]="pName" required> &nbsp;&nbsp;
                </div>
                <div *ngIf=" bookingRef_store.controls['pName'].invalid && 
                            (bookingRef_store.controls['pName'].dirty || bookingRef_store.controls['pName'].touched) ">

                            <span class="validation" [hidden]="!bookingRef_store.controls['pName'].errors?.['required']">Name is required</span>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">No of Head-Count</span>
                    <input type="number" class="col-1" name="noOfHeadCount" [(ngModel)]="noOfHeadCount" required  pattern="[1-4]{1}">&nbsp;&nbsp;&nbsp;&nbsp;

                    <span class="input-group-text">Booking Date</span>
                    <input type="date" class="form-control" name="bookingDate" [(ngModel)]="bookingDate" required>&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <div *ngIf=" bookingRef_store.controls['noOfHeadCount'].invalid && 
                                (bookingRef_store.controls['noOfHeadCount'].dirty || bookingRef_store.controls['noOfHeadCount'].touched) ">

                            <span class="validation" [hidden]="!bookingRef_store.controls['noOfHeadCount'].errors?.['required']">No of Seat is required</span>
                            <span class="validation" [hidden]="!bookingRef_store.controls['noOfHeadCount'].errors?.['pattern']">No of Seat should not be more than 4</span> 
                </div> 
                <div *ngIf="  bookingRef_store.controls['bookingDate'].invalid && 
                        (bookingRef_store.controls['bookingDate'].dirty || bookingRef_store.controls['bookingDate'].touched) ">

                            <span class="validation" [hidden]="!bookingRef_store.controls['bookingDate'].errors?.['required']">Booking Date is required</span>       
                </div>
                

                <div class="d-grid gap-2">
                    <button class="submit btn btn-warning" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal_payment" [disabled]="bookingRef_store.invalid">BOOK</button>
                </div><br>

            </form>
            <div class="d-grid gap-2">
                <button class="btn btn-info" type="button" style="font-weight: bold;" (click)="view_bookings()" [disabled]="view_booking">VIEW BOOKINGS</button>
            </div><br>
        </div>
        
    </div>
</div>

<!-- =================  Model for Payment ===================-->
<div class="modal fade" id="exampleModal_payment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
        
        <div class="modal-header">
        <h4>Happy Journey</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div>
                    <form #paymentRef_info="ngForm" (ngSubmit)="submit_payment(paymentRef_info, bookingRef_store)" [ngStyle]="styProperty2">

                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Payable Amount</span>
                            <input type="number" class="form-control" id="addon1" name="paymentAmount" [(ngModel)]="paymentAmount" required readonly>
                        </div><br>
                        <div class="input-group mb-3">
                            <span class="input-group-text">First Name</span>
                            <input type="text" class="form-control" name="fName" [(ngModel)]="fName" required> &nbsp;&nbsp;

                            <span class="input-group-text">Last Name</span>
                            <input type="text" class="form-control" name="lName" [(ngModel)]="lName" required>
                        </div>
                        <div *ngIf=" paymentRef_info.controls['fName'].invalid && 
                                        (paymentRef_info.controls['fName'].dirty || paymentRef_info.controls['fName'].touched) ">

                                        <span class="validation" [hidden]="!paymentRef_info.controls['fName'].errors?.['required']">First Name is required</span>
                        </div>
                        <div *ngIf=" paymentRef_info.controls['lName'].invalid && 
                                        (paymentRef_info.controls['lName'].dirty || paymentRef_info.controls['lName'].touched) ">

                                        <span class="validation" [hidden]="!paymentRef_info.controls['lName'].errors?.['required']">Last Name is required</span>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">Card Number</span>
                            <input type="number" class="col" name="card" [(ngModel)]="card" required placeholder="Enter 16-digits Card Number" pattern="[1-9]{1}[0-9]{15}">&nbsp;&nbsp;&nbsp;&nbsp;

                            <span class="input-group-text">CVV</span>
                            <input type="password" class="col-1" name="cvv" [(ngModel)]="cvv" required placeholder="000" maxlength="3" pattern="[0-9]{3}">

                            <span class="input-group-text">DOE</span>
                            <input type="text" class="col-1" name="doe" [(ngModel)]="doe" required placeholder="MM/YY" minlength="5" maxlength="5" pattern="[0-9]{2}[/]{1}[0-9]{2}">
                        </div>
                        <div *ngIf=" paymentRef_info.controls['card'].invalid && 
                                        (paymentRef_info.controls['card'].dirty || paymentRef_info.controls['card'].touched) ">

                                        <span class="validation" [hidden]="!paymentRef_info.controls['card'].errors?.['required']">Card Number is required</span>
                                        <span class="validation" [hidden]="!paymentRef_info.controls['card'].errors?.['pattern']">Card Number must having 16-digits</span>         
                        </div>
                        <div *ngIf=" paymentRef_info.controls['cvv'].invalid && 
                                        (paymentRef_info.controls['cvv'].dirty || paymentRef_info.controls['cvv'].touched) ">

                                        <span class="validation" [hidden]="!paymentRef_info.controls['cvv'].errors?.['required']">CVV is required</span>
                                        <span class="validation" [hidden]="!paymentRef_info.controls['cvv'].errors?.['pattern']">CVV must having 3-digits</span> 
                        </div>
                        <div *ngIf=" paymentRef_info.controls['doe'].invalid && 
                                        (paymentRef_info.controls['doe'].dirty || paymentRef_info.controls['doe'].touched) ">

                                        <span class="validation" [hidden]="!paymentRef_info.controls['doe'].errors?.['required']">DOE is required</span>
                                        <span class="validation" [hidden]="!paymentRef_info.controls['doe'].errors?.['pattern']">Follow pattern MM/YY</span> 
                        </div>

                        <div class="d-grid gap-2">
                            <button class="submit btn btn-success" type="submit" [disabled]="paymentRef_info.invalid">SUBMIT PAYMENT</button>
                        </div><br>

                    </form>
            </div>
        </div>

    </div>
    </div>
</div> <br><br>

